.app {
	width: 700px;
	height: 700px;
	background-color: #0b2434;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	background-color: #f5f5f5;
	width: 650px;
	height: 600px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.contener {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 15px;
}
.title {
	font-size: 40px;
	margin-top: 40px;
}

.instructions {
	margin: 20px;
	text-align: center;
	font-size: 20px;
}
.result{
	font-size: 20px;
	color:tomato;
}